<div class="app-wrapper">
    <app-navigation class="navigation"></app-navigation>

    <div class="app-content">
        <div>
            <app-input-header class="input-header" (newTaskEvent)="addNewTask($event)"></app-input-header>
        </div>
        
        <div>
            <app-task-list class="app-tasklist" [taskList]="taskList" (removedTaskEvent)="removeTask($event)" (checkBoxChangeEvent)="changeCheckBoxValue($event)"></app-task-list> 
        </div>
        
    </div>

      
</div>
